body {
    background-image: url('../images/anciant\ papirus\ drawing\ of\ an\ reptilian\ as\ freemasons\ ruling\ the\ world.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  button {
    background-color: beige;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
  }

  .white-transparent {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    max-width: 800px;
    width: 100%;
  }
  
  .image-container {
    text-align: center;
  }
  .wordart {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .wordart.radial .text {
      background: #fffa28;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fffa28), color-stop(100%, #ec8a39));
      background: -webkit-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
      background: -o-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
      background: -ms-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
      background: radial-gradient(ellipse at center, #fffa28 0%, #ec8a39 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa28', endColorstr='#ec8a39', GradientType=1);
      font-family: Impact, sans-serif;
      font-weight: bold;
  }